@model Park
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.ParkName</h2>

<div>
    <div class="detailImg">
        <img src="~/img/parks/@(Model.ParkCode).jpg" />
    </div>
    <div>
        <div class="quote">@Model.InspirationalQuote</div>
    </div>
    <div>
        <div class="quoteSource">-@Model.InspirationalQuoteSource</div>
    </div>
    <div>
        <div class="parkDescription">@Model.ParkDescription</div>
    </div>

    <table class="table" id="detail">
        <thead>
            <tr>
                <th colspan="10">PARK STATISTICS</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>STATE</th>
                <th>ACREAGE</th>
                <th>ELEVATION</th>
                <th>MILES OF TRAIL</th>
                <th>CAMPSITES</th>
                <th>CLIMATE</th>
                <th>EST.</th>
                <th>VISITORS</th>
                <th>ENTRY FEE</th>
                <th>UNIQUE SPECIES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.State</td>
                <td>@Model.Acreage</td>
                <td>@Model.ElevationInFt Feet</td>
                <td>@Model.MilesOfTrail Miles</td>
                <td>@Model.NumberOfCampsites Campsites</td>
                <td>@Model.Climate</td>
                <td>@Model.YearFounded</td>
                <td>@Model.AnnualVisitorCount</td>
                <td>@Model.EntryFee</td>
                <td>@Model.NumberOfAnimalSpecies Little Creatures</td>
            </tr>
        </tbody>
    </table>
    <div class="weatherBox">

        @foreach (var weather in Model.Forecast)
        {

            @if (weather.FiveDayForecastValue == 1)
            {
                <div class="weatherBoxItem">
                    <img id="todayWeatherIMG" src="~/img/weather/@(weather.Forecast.Replace(" ", String.Empty)).jpg" />
                    @if (Model.UserPreference == "c")
                    {
                        <p><strong>High:</strong> @weather.CelHigh <strong>Low:</strong> @weather.CelLow</p>
                    }
                    else
                    {
                        <p><strong>High:</strong> @weather.FahHigh <strong>Low:</strong> @weather.FahLow</p>
                    }

                    <p><strong>How To Be Prepared: </strong></p>
                    <p>@weather.GetTheGear(weather.Forecast)</p>
                    <p><strong>Advisory Warning: </strong></p>
                    <p>@weather.TempAdvisory(weather.FahHigh, weather.FahLow)</p>

                    <div class="btn-group">
                        <form asp-controller="home" asp-action="tempUnit" method=post asp-route-parkCode="@Model.ParkCode">

                            <button class="btn">Celsius</button>
                            <input type="hidden" value="c" name="userPreference" />
                        </form>

                        <form asp-controller="home" asp-action="tempUnit" method=post asp-route-parkCode="@Model.ParkCode">
                            <button class="btn">Fahrenheit</button>
                            <input type="hidden" value="f" name="userPreference" />
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="weatherBoxItem">
                    <img id="forecastIMG" src="~/img/weather/@(weather.Forecast.Replace(" ",String.Empty)).jpg" />
                    @if (Model.UserPreference == "c")
                    {
                        <p><strong>High:</strong> @weather.CelHigh <strong>Low:</strong> @weather.CelLow</p>
                    }
                    else
                    {
                        <p><strong>High:</strong> @weather.FahHigh <strong>Low:</strong> @weather.FahLow</p>
                    }
                    <p><strong>How To Be Prepared: </strong></p>
                    <p>@weather.GetTheGear(weather.Forecast)</p>
                    <p><strong>Advisory Warning: </strong></p>
                    <p>@weather.TempAdvisory(weather.FahHigh, weather.FahLow)</p>
                </div>
            }
        }
    </div>
</div>

